@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('reset.css');

* {
    font-family: "Roboto";
}

body {
    display: grid;
    grid-template-rows: 56px 968px;
    margin: 0px;
}

li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 24px;
}

nav {
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 218px auto;
    background-color: rgb(238, 238, 238);
}

#left,
#right {
    display: flex;
    gap: 20px;
    align-items: center;
}

#right {
    padding-right: 24px;
}

#left {
    padding-left: 24px;
}


#film,
#sino {
    width: 24px;
    height: 24px;
}

#profile-photo {
    width: 34px;
    height: 34px;
    border-radius: 100%;
}

#videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 262px 262px 262px;
    justify-items: center;
    margin-top: 25px;

}

#barras {
    width: 24px;
    height: 24px;
}

#logo-youtube {
    width: 90px;
    height: 20px;
}

#search-content {
    display: flex;
    justify-content: center;
    width: 404px;
    height: 40px;
    border: 1px solid #cccccc;
}


#search-box {
    width: 348px;
    border: 1px solid #cccccc;
}

#search-button {
    width: 57px;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    background-image: url("../images/pesquisa.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;

}

.descricao {
    display: inline-flex;
    gap: 10px;
    width: fit-content;
    max-width: 249px;
}

h4,
p {
    margin: 0px;
}

h4 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
}

p {
    font-weight: 400;
    font-size: 12px;
}

.photo-channel {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    align-items: start;
}

.item {

    height: 262px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    padding: 16px;

}

.foto-miniatura {
    width: 250px;
    height: 140px;
    display: flex;
}